{% extends 'base.html' %} 

{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fresh Fruits</title>
  </head>
  <body>
      <div class="row">
        {% for product in products %}
              <div class="col">
                <div class="card" style="width: 18rem">
                  <img src="{{ product.image_url }}" class="card-img-top" alt="fruits" />
                  <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">
                      {{ product.price }}
                    </p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                  </div>
                </div>
              </div>
              {% endfor %}
      </div>
  </body>
</html>

{% endblock %}
